.onboarding-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.onboarding-content {
  
  color: var(--primary-text);
}
.graycenter {
  color: var(--black);
  text-align: left;
  font-size: 18px;
}
.onboarding-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 20px;
}

.nav-button {
  padding: 15px 20px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.2s;
  background-color: var(--background-primary);
  color: var(--primary-text);
}

.nav-button.next,
.nav-button.finish {
  background-color: var(--accent-color);
  color: var(--background-primary);
  border: none;
}



.nav-button:active {
  transform: scale(0.98);
}